// .home_banner_area{
//     min-height: 500px !important;
//     .box-banner{
//         background: no-repeat center center;
//         background-size: cover;
//         height: 600px;

//         .banner_inner{
//             min-height: 500px !important;
//         }
//     }

// }
// body{
//     overflow-x: hidden;
// }

.home_banner_area {
  min-height: 500px !important;

  .box-banner {
    background-color: #ff9800; // màu cam tươi
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;

    .banner_inner {
      min-height: 500px !important;
    }
  }
}
